body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    padding-top: 60px; /* Ajuste conforme a altura do cabeçalho */
    padding-bottom: 60px; /* Ajuste conforme a altura do rodapé */
}